@model Nabavki.ViewModels.ArtiklDetailsViewModel
@{
    ViewBag.Title = "Details";
}
<br />
<a href="/artikli/index" class="btn btn-info">Назад</a>
<br />

<h3>Назив на Артикл: @Model.ArtiklName</h3>
<h3>Шифра на Артикл: @Model.ArtiklSifra</h3>
<h3>Назив на фирма: @Model.FirmaName</h3>
<h3>Назив на партнер: @Model.PartnerName</h3>



