@{
    ViewBag.Title = "Набавки";
}

<div class="jumbotron">
    <h2>ЗДРАВО</h2>
    <br />
    <p class="lead">
        1.	Во Solution-от се наоѓа DB ПРОЕКТ за базата на податоци со назив Nabavki која се состои од scripts -три табели Firma, Partner и Artikli.
        Направете view за внес на фирма и партнери. Откако ќе ги направите нив креирајте view кое ќе се состои од ddl за избор на фирма, ddl за избор на партнер кое ќе се полни со податоци во зависност од избраната фирма и 2 txt полиња за внес на шифра и назив на артиклот.
        Да се прави валидација на полињата за внес.
        Податоците кои ги запишуваме  да се сместуваат во grid.
        Овозможете и бришење и промена на веќе внесените податоци.
        Во зависност од вашето познавање кое го имате на располагање опционално направете rpt за печатење на извештај за артиклите.
        </p>
            <p>
        2.	Направете веб сервис кој за даден стринг ќе ја пребарува табелата Artikli и како резултат ќе го враќа Id-то на пронајдената колона.
                </p>
    <p>
        3.	Направете програма која ќе го конзумира веб сервисот во која ќе се задава стрингот за пребарување и која ќе го прикажува резултатот од пребарувањето.

    </p>
    <h2>УСПЕШНА РАБОТА :)</h2>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        @*<h2>Getting started</h2>*@
        <p>
           
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        @*<h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h3>За прашања ви стоиме на располагање</h3>
        <p class="lead">Катерина Јакова Лазарова  kate@elikosoft.com.mk; 075/203-112</p>
        <p class="lead">Петар Петровски  petar@elikosoft.com.mk; 070/883-211</p>

    </div>
</div>